.div_position{
    width: 500px;
    height: 500px;
    background-color: red;
    border-bottom: 2px dotted black;
    position: static;
    
}

.relative {
    width: 500px;
    height: 500px;
    margin: 10px 10px 10px 10px;
    background-color: blue;
    border-bottom: 2px dotted black;
    position: relative;
}

.fixed {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: black;
    top: 0;
}

.sticky {
    position: sticky;
    top: 10px;
    background-color: gray;
}